body {
  background: none;
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0 !important;
  padding-bottom: 0;
}

/* Video and Text containers */

#video-container {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
  overflow: hidden;
}

#video {
  width: 100%;
  height: auto;
  max-height: 75vh;
  object-fit: contain;
  position: relative;
  margin-bottom: 2rem;
}

#title-container {
  position: absolute;
  top: 50%;
  width: 90%; /* Ensures it stays inside the video */
  max-width: 1100px; /* Prevents it from stretching too much on large screens */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  z-index: 5;
  padding-right: 5%; /* Keeps text inside the video */
}

#title-container h1,
#title-container p {
  margin: 0;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 10vmin;
  text-align: right;
  color: rgb(242, 161, 10);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: right; /* Center horizontally */
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 0;
  z-index: 5;
  position: relative; /* Ensure it respects z-index */
}

.second-header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 6vmin;
  text-align: center;
  color: rgb(242, 161, 10);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: right; /* Center horizontally */
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 0;
  z-index: 5;
  position: relative; /* Ensure it respects z-index */
}

.third-header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4vmin;
  text-align: center;
  color: rgb(242, 161, 10);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: right; /* Center horizontally */
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 0;
  z-index: 5;
  position: relative; /* Ensure it respects z-index */
}

#title-container > p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3vmin;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-align: right;
}

#text-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top: -50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: translateY(-10%);
}

.text-container {
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  background: transparent;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.text-container > div {
  animation: come2life linear 10s infinite;
  transform-origin: center center;
  opacity: 0;
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
}

.text-container > div:nth-child(1) {
  left: 20vw;
  top: 60vh;
  animation-delay: 0s;
}

.text-container > div:nth-child(2) {
  left: 60vw;
  top: 90vh;
  animation-delay: 4s;
}

.text-container > div:nth-child(3) {
  left: 50vw;
  top: 50vh;
  animation-delay: 8s;
}

.text-container > div:nth-child(4) {
  left: 30vw;
  top: 70vh;
  animation-delay: 6s;
}

.text-container > div:nth-child(5) {
  left: 20vw;
  top: 80vh;
  animation-delay: 2s;
}

@keyframes come2life {
  0% {
    transform: scale3d(0, 0, 1) rotate(0.02deg);
    opacity: 0;
    filter: blur(10px);
  }
  25% {
    transform: scale3d(1, 1, 1) rotate(0.02deg);
    opacity: 1;
    filter: blur(0px);
  }
  40% {
    opacity: 1;
    filter: blur(0px);
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: scale3d(4, 4, 1) rotate(0.02deg);
    filter: blur(10px);
  }
}

@media (max-width: 790px) {
  #text-container {
    top: -100%;
    transform: translateY(0);
  }

  .text-container {
    font-size: 18px;
  }
}

/* Media query for small screens */
@media (max-width: 500px) {
  #text-container {
    top: -200%;
    transform: translateY(0);
  }

  .text-container {
    font-size: 14px;
  }
}
