body {
  background: none;
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0 !important;
  padding-bottom: 0;
}

/* Video and Text containers */

#video-container {
  position: relative;
  padding: 0;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

#video {
  width: 100%;
  height: auto;
  object-fit: fill;
  z-index: 0;
}

#title-container {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -90%);
  z-index: 5; /* Ensure it's above text animation */
  width: 100%;
  padding-inline: 5%;
  text-align: right;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 10vmin;
  text-align: right;
  color: rgb(242, 161, 10);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: right; /* Center horizontally */
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 0;
  z-index: 5;
  position: relative; /* Ensure it respects z-index */
}

#title-container > p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3vmin;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-align: right;
}

.text-container {
  position: absolute;
  opacity: 70%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: rgb(244, 180, 60); */
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  background: transparent;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  font-size: 36px;
  overflow: hidden;
  z-index: 1;
}

.text-container > div {
  animation: come2life linear 10s infinite;
  transform-origin: center center;
  opacity: 0;
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
}

.text-container > div:nth-child(1) {
  left: 20vw;
  top: 60vh;
  animation-delay: 0s;
}

.text-container > div:nth-child(2) {
  left: 60vw;
  top: 90vh;
  animation-delay: 4s;
}

.text-container > div:nth-child(3) {
  left: 50vw;
  top: 50vh;
  animation-delay: 8s;
}

.text-container > div:nth-child(4) {
  left: 30vw;
  top: 70vh;
  animation-delay: 6s;
}

.text-container > div:nth-child(5) {
  left: 20vw;
  top: 80vh;
  animation-delay: 2s;
}

@keyframes come2life {
  0% {
    transform: scale3d(0, 0, 1) rotate(0.02deg);
    opacity: 0;
    filter: blur(10px);
  }
  25% {
    transform: scale3d(1, 1, 1) rotate(0.02deg);
    opacity: 1;
    filter: blur(0px);
  }
  40% {
    opacity: 1;
    filter: blur(0px);
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: scale3d(4, 4, 1) rotate(0.02deg);
    filter: blur(10px);
  }
}
